<ion-header>
  <ion-navbar>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: rgb(195, 195, 195)">
  <!-- Cabecera -->
  <header>
    <img src="../assets/icon/logoDoctOnline.jpg" style="width:70px;height:45px;" class="logo">
    <h3 class="titulo">DOCTONLINE</h3>
    <img src="../assets/imgs/imgUsuario.png" style="width:60px;height:50px;" class="imgUsuario">
  </header>

  <!-- Lista de diagnosticos -->
  <div id="diagnosticos">
    <h5>Diagnósticos sin asignar</h5>
    <div *ngFor="let listaItem of seleccionarDiagnosticos()">
      <div  class="fichaDiagnostico" *ngFor="let item of listaItem">
        <img src="../assets/imgs/diagnosticar.png" style="width:50px;height:50px;" id="botonVerDiagnostico" ion-button (click)='irPaginaFormularioDiagnostico([item.paciente], [item.id])'>
        <div class="datosFichaDiagnostico">
          <p>Paciente: {{item.paciente}}</p>
          <p>Fecha: {{item.fecha}}</p>
          <p>Síntomas: {{truncarSintoma([item.sintoma])}}</p>
        </div>
      </div>
    </div>

  </div>


</ion-content>
