<ion-header>
  <ion-navbar>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: rgb(195, 195, 195)">
  <!-- Cabecera -->
  <header>
    <img src="../assets/icon/logoDoctOnline.jpg" style="width:70px;height:45px;" class="logo">
    <h3 class="titulo">DOCTONLINE</h3>
    <img src="../assets/imgs/imgUsuario.png" style="width:60px;height:50px;" class="imgUsuario">
  </header>

  <!-- Lista de diagnosticos -->
  <div id="diagnosticos">
    <img src="../assets/imgs/botonPedirDiagnostico.png" style="width:130px;height:50px;" id="botonPedirDiagnostico">
    <h5>Diagnósticos</h5>

    <button ion-button (click)='ionViewDidEnterDiagnosticos()' >Botón mágico Diagnosticos</button>
    <button ion-button (click)='ionViewDidEnterUsuarios()' >Botón mágico Usuarios</button>

    <p *ngFor="let item of listaDiagnosticos; let indice=index">
      {{indice}} {{item.id}} {{item.doctor}} {{item[doctor]}}
    </p>

    <p *ngFor="let item of listaUsuarios ">
    	<button small ion-button (click)="delUsuario([item.user])">Borrar usuario</button>
      {{item.user}} {{item.nombre}}
    </p>

  </div>




</ion-content>
